# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
open-api.json
docs.json
openapi.json
TerraTrail.md
.claude/
# customer-booking-site.md
customer-rep-dashboard.md
admin-dashboard.md
data-export-page.md
properties-listing.md
SalesRep-listing.md
site-inspection.md
customer-rep-list.md
customers-list.md
Unit-Based-Inventory-Pricing-Model.md